<h2>Purchased stocks</h2>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">User Cash Total</th>
      <th scope="col">Stocks Total Value</th>
      <th scope="col">Total Value Stocks and Cash</th>
    </tr>
  </thead>
  <tbody>
        <tr>
          <!--https://stackoverflow.com/questions/23195321/how-to-convert-string-to-uppercase-lowercase-in-jinja2-->
          <td>{{user_cash_total}}</td>
          <td>{{user_stock_total}}</td>
          <td>{{user_tota_value}}</td>
        </tr>
  </tbody>
</table>