{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <div>{{ error }}</div><br>
    <section id="quote-section" style="width:100%; margin: 0 auto;">
        <div id="quote-stock" style="width:50%; margin: 0 auto;">
            <form action="/sell" method="post">
                <div class="form-group">
                    <value hidden name="currency" value="{{data.currency}}"></value>
                    <h1>Purchase stocks</h1>
                </div>
                <div class="form-group">
                    <label for="stock-symbol">Stock symbol</label>
                    <input autocomplete="off" autofocus class="form-control" name="stock-symbol" placeholder="Stock" type="text" style="width:100%; margin: 0 auto;">
                </div>
                <div class="form-group">
                    <label for="stock-symbol">Number of stocks</label>
                    <input autocomplete="off" autofocus class="form-control" name="no-of-stock" placeholder="Amount of stocks to sell" type="number" style="width:100%; margin: 0 auto;">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" >Sell stocks</button>
                </div>
            </form>
        </div>
    </section>

    {% include 'partials/history_table.html' %}

<!-- Call js file here -->
<!-- Not a fan of this implementation of JS includes would prefer, /assets/{template}/file.js -->
<script type="text/javascript" src="/static/sell.js"></script>

{% endblock %}